*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	background-image: url(../DTHCN/qwerty.jpg);
	min-height: 644px;
	background-repeat: repeat-x;
	background-position: top center;
	position: relative;
	font-family: "BebasBold";
	}
header a {
	color: #fff;
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,0,4) 0 0 0 1px;
	box-shadow: rgba(255,255,255,0.4) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 23px 0;
	}
.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px ;
	-webkit-transition: all .25s ;
	-moz-transition: all .25s ;
	-ms-transition: all .25s ;
	-o-transition: all .25s ;
	transition: all .25s ;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
}
.top_address {
    padding-left: 50px;
	background-image: url(../DTHCN/Qwerty2.png);
	background-repeat: no-repeat;
	background-position: top left ;
	line-height: 27px;
}
.top_address strong {
	color: #d12f22;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 31px;
}
.top_line .logo {
	border-bottom: none ;
	position: absolute;
	margin-top: -18px;
}
.top_line .logo:hover {
	border-bottom: none ;
}
.logo_wrap {
	position: relative;
	margin: auto;
	width: 240px;
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span{
	color: #fff;
}
header h1{
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin-top: 65px;
	text-shadow: 0 3px rgba(0, 0, 0, .55);
	font-family: "BebasRegular";
}
.button {
    display: inline-block;
    background-color: #d12f22;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    padding: 0 25px;
    font-size: 20px;
	border-bottom: #AC160A 4px solid;
	color: #fff;
	font-family: "BebasBold";
}
.button:hover{
	background-color: #ff6457;
}
.button:active{
	background-color: #990900;
}
header .button{
	margin-right: 20px;
}
.st_button {
    line-height: 17px;
    padding-top: 8px;
    text-align: left;
    padding-left: 62px;
    background-image: url(../DTHCN/Qwerty4.PNG);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
.buttons_top {
    position: absolute;
    width: 100%;
    bottom: 32px;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,0,4) 0 0 0 1px;
	box-shadow: rgba(255,255,255,0.4) 0 0 0 1px;
	font-family: BebasRegular;
	text-transform: uppercase;
}
.top_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu a{
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 61px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #3b3b3b;
	background-image: url(../DTHCN/Qwerty5.png);
	background-repeat: no-repeat;
	background-position: 8px 4px;
	}
.top_mnu li{
	float: left;
}
.top_mnu li.active a,
.top_mnu li:hover a {
	background-color: #050505;
}
.top_mnu li:nth-child(2) a{
	background-position: 8px -69px;
}
.top_mnu li:nth-child(3) a{
	background-position: 8px -154px;
}
.top_mnu li:nth-child(4) a{
	background-position: 8px -233px;
}
.top_mnu li:nth-child(5) a{
	background-position: 8px -318px;
}
.top_mnu li:nth-child(6) a{
	background-position: 8px -399px;
}
.war{
	color: #fff;
float: right;
border: 3px solid #fff;
border-radius: 3px;
cursor: default;
padding: 3px 5px;
line-height: 15px;
margin-top: 9px;
}
.war div{
	display: inline-block;
	vertical-align: top;
}
.w_right{
	font-family: 'RobotoCondensedRegular';
}
.w_left{
	font-family: 'BebasBold';
	font-size: 20px;
	margin-top: 10px;
	margin-right: 8px;
}
.w_left span{
	font-size: 32px;
}
.main_cats{
	padding: 20px 0 50px;
	background-color: #191919;
}
.main_cats h2{
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasBold";
	font-size: 40px;
	text-align: center;
}
.main_cats strong {
	color: #fff;
}
.main_cats span{
	color: #d12f22;
}
section h2{
	position: relative;
}
.s_black h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background-image: url(../DTHCN/Qwerty6.png);
    top: 17px;
    margin-left: -74px;
}
.s_black h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background-image: url(../DTHCN/Qwerty6.png);
	background-position: -50px 0;
    top: 17px;
    margin-left: 20px;
}
.mc_item{
	border: #353535 1px solid;
	border-radius: 2px;
	
}
.mc_item_wrap{
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap:nth-child(1){
	margin-left: 0;
}
.mc_item_wrap a{
	color: #fff;
}
.mc_item span{	
	display: inline-block;
	height: 85px;
	width: 130px;
	background-image: url(../DTHCN/Qwerty7.png);
	background-position: 10px 8px; 
}
.mc_wrap{
	text-align: center; 
	padding: 0;
	position: relative;
}
.mc_item_wrap:nth-child(2) span{
	background-position: -114px 4px;
}
.mc_item_wrap:nth-child(3) span{
	background-position: -236px 10px;
}
.mc_item_wrap:nth-child(4) span{
	background-position: -365px 10px;
}
.mc_item_wrap:nth-child(5) span{
	background-position: -494px 10px;
}
.mc_item_wrap:nth-child(6) span{
	background-position: -613px 10px;
}
.mc_item  h4{
	font-size: 20px;
	font-family: "BebasBold";
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item  a:hover  h4,
.mc_item_wrap.active h4
{
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover{
	background-color: #2a2a2a;
}
.mc_toggle {
	background-color: #212121;
	height: 25px ;
	position: relative;
	cursor: pointer;
	background-image: url(../DTHCN/Qwerty8.png);
	background-repeat: no-repeat;
	background-position: 73px 10px;
	}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle{
	background-color: #353535;
	background-position: -116px 10px;
}
body .mc_wrap .mc_item_wrap > ul {
	background-color: #353535;
	margin-top: 26px;
	font-size: 20px;
	position: absolute;
	width: 100%;
	padding: 15px 0;
	list-style-type: none;
	z-index: 10;
	display: none;
	left: 0;
}
.mc_item_wrap.active > ul li {
    display: inline-block;
    font-family: "BebasRegular";
}
.mc_item_wrap.active > ul li a{
	padding: 0 18px;
	text-decoration: underline; 
}
.mc_item_wrap.active > ul li a:hover{
	text-decoration: none; 
}
.mc_item_wrap_af {
	background-image: url(../DTHCN/Qwerty9.png);
	width: 18px;
	height: 9px;
	content: "";
	position: absolute;
	margin: 17px 69px;
	display: none;
}
.mc_button_w{
	text-align: center;
	margin-top: 30px;
}

	


